button {
    padding: 10px;
    width: 300px;
    margin: 5px;
    background: #CE4260;
    border: 1px solid #CE4260;
    color: white;
}

#add_data {
    background-color:green;
}
table ,tr,td,th{
    margin: 0 auto;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
}