.main_not_found_container {
    text-align: center;
    background: #57CEA4;
    margin: 0 auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#status_code {
    font-size: 25rem;
    color: white;
}