<div class="main_nav_container">
    <div class="main_nav_links">
        <ul>
            <li><a routerLink='/dashboard'>Dashboard</a></li>
            <li><a routerLink='/resolver'>Resolvers</a></li>
            <li><a routerLink='learning-ngrx'>Learning NgRx</a></li>
        </ul>
    </div>
    <div class="main_nav_buttons">
        <button (click)='loggedIn()' *ngIf='!login_status'>Login</button>
    </div>

</div>
<h2>Running On Enviroment:-</h2>
<h2>HostUrl:- {{hostUrl}}</h2>
<h2>HostName:- {{hostName}}</h2>





<router-outlet></router-outlet>
