/* You can add global styles to this file, and also import other style files */

* {
    text-align: center;
}

button {
    background: yellow;
    border:1px solid black;
    color: black;
    padding: 10px;
}